section.banner
  width 100%
  height auto

.banner-image
  width 100%
  height auto

.banner-image img
  width 100%
  height auto

p.banner-text
  position absolute
  width 20%

.bottom-banner
  height 39vw 
