.bar-color
  width 100%
  height 4vw
  background-image: -o-linear-gradient(right, #AED48A 0%, #30BFBF 100%);
  background-image: -moz-linear-gradient(right, #AED48A 0%, #30BFBF 100%);
  background-image: -webkit-linear-gradient(right, #AED48A 0%, #30BFBF 100%);
  background-image: -ms-linear-gradient(right, #AED48A 0%, #30BFBF 100%);
  background-image: linear-gradient(to right, #AED48A 0%, #30BFBF 100%);

@media (max-width 768px)
  .bar-color
    height 16vw

@media (max-width 320px)
  .bar-color
    height 17.5vw
