.menu-opt
  width 100%
  height auto
  text-align center
  padding 3vw 0 3vw 0

$circle = 20px

.circle
  position relative
  display inline-block
  width 14.5%
  height 0
  padding 7% 0
  border-radius 50%
  // -webkit-box-shadow 0 4px 0 0 rgba(0, 0, 0, 0.1)
  // box-shadow 0 4px 0 0 rgba(0, 0, 0, 0.1)
  // text-shadow 0 4px 0 rgba(0, 0, 0, 0.1)
  margin 3% 1% 3% 1%
  background #fff
  color black
  font-size 32px
  line-height 1px
  text-align center

.circle
  background: #fff;

.circle:after
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  background-image: linear-gradient(to bottom left, #AED48A 0%, #30BFBF 100%);
  z-index: -1;
  border-radius: inherit;

.circle
  margin-left 3%

.green-circle:after
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  background-image: linear-gradient(to bottom left, rgb(184,215,136) 0%, rgb(184,215,136) 100%);
  z-index: -1;
  border-radius: inherit;

.pink-circle:after
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  background-image: linear-gradient(to bottom left,rgb(222,212,202)  0%, rgb(222,212,202) 100%);
  z-index: -1;
  border-radius: inherit;

.blue-circle:after
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  background-image: linear-gradient(to bottom left, rgb(47,193,194) 0%, rgb(47,193,194) 100%);
  z-index: -1;
  border-radius: inherit;

.circle span
  text-shadow none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

@media (min-width 1680px)
  .circle
    font-size 42px

@media (max-width 1280px)
  .circle
    font-size 24px

@media (max-width 1024px)
  .circle
    font-size 18px

@media (max-width 768px)
  .circle
    width 32.5%
    padding 16.5% 0
    font-size 24px
    margin 0 5% 8% 5%

  .menu-opt
    padding-top 9vw

@media (max-width 480px)
  .circle
    font-size 20px
    margin-bottom 12%

// One-Column //
 @media (max-width 320px)
     .circle
       font-size 17px
       width 32.5%
       padding 16.5% 0
       margin 0 5% 12% 5%

      .menu-opt
        padding-top 12vw

//   .circle
//     width 42.5%
//     padding 20.5% 0
//
//   .circle.pink-circle,.circle.gradient-circle
//     margin-left 0%
