
.events-content
  font-size 16px
  padding 7vw 0
  width 60%
  text-align left

.event-elem
  display inline-block
  width 31.5%
  margin 0vw .5vw 3vw 0
  background-color rgb(242,242,242)

.quien-top.event-title-top
  padding-bottom 0

.event-title
  text-align left
  margin 0 1vw 0 1vw
  padding 1vw 0 1vw 0
  border-bottom solid 1px rgb(203,203,203)

.event-info
  text-align left
  display inline-block
  width 100%
  margin-top 1vw
  padding-bottom 1vw

.event-info-wrapper
  display flex
  flex-direction row
  align-items center


.ver-mas
  background-color rgb(47,193,194)
  color #fff
  padding 15px .5px 15px .5px
  width 120px
  cursor pointer
  display inline-block
  text-align center

.ver-mas:hover
  opacity .8

.event-img img
  width 100%

.ver-mas span
  font-size 16px

.event-info-date
  margin-left 10px
  margin-right 10px

.ver-mas.event-mas
  position absolute
  right 0
  bottom 0
  margin 1vw

/* -- MEDIA QUERIES  -- */

/* 3 COL */
@media (min-width 1920px)
  .event-elem
    width 32%

@media (max-width 1680px)
  .event-title span
    font-size 18px

  .event-info-date span
    font-size 18px

@media (max-width 1366px)

  .ver-mas
    margin 8vw 2vw 1vw 0

  .event-title span
    font-size 14px

  .event-info-date span
    font-size 18px

  .ver-mas.event-mas
    padding 10px .5px
    width 90px

  .events-content
    width 75%

  .quien-top.event-title-top
    width 75%

@media (max-width 1280px)
  .events-content
    width 80%

@media(max-width 1024px)
  .event-elem
    width 48.5%

  .quien-top.event-title-top
    width 80%

/* SINGLE COL */
@media (max-width: 768px)
  .event-elem
    width 100%

  .event-title span
    font-size 18px

  .event-info-date span
    font-size 16px

  .ver-mas.event-mas
    margin 3vw

  .events-content
    width 90%
    text-align center

  .quien-top.event-title-top
    width 90%

@media (max-width: 480px)

  .ver-mas
    width 100px
    padding 6px 0

@media (max-width: 320px)

  .ver-mas
    padding 3vw .5vw 3vw .5vw
