
.events-content
  font-size 16px
  padding 2vw 0 7vw 0
  width 60%
  text-align center

.event-elem
  display inline-block
  width 30%
  margin 0vw .5vw 3vw 0
  background-color rgb(242,242,242)

.quien-top.event-title-top
  padding-bottom 0

.event-title
  text-align left
  margin 0 1vw 0 1vw
  padding 1vw 0 1vw 0
  border-bottom solid 1px rgb(203,203,203)

.event-info
  text-align left
  display inline-block
  width 100%
  margin-top 1vw
  padding-bottom 1vw

.event-info-wrapper
  display flex
  flex-direction row
  align-items flex-end


.ver-mas
  background-color rgb(47,193,194)
  color #fff
  padding 15px .5px 15px .5px
  width 120px
  cursor pointer
  display inline-block
  text-align center

.ver-mas:hover
  opacity .8

.event-img img
  width 100%

.ver-mas span
  font-size 16px

  /* -- MEDIA QUERIES  -- */

/* 3 COL */
@media (min-width 1920px)
  .event-elem
    width 32%


@media (max-width 1680px)
  .event-title span
    font-size 18px

  .event-info-date span
    font-size 18px

@media (max-width 1366px)

  .ver-mas
    margin 8vw 2vw 1vw 0

  .event-title span
    font-size 14px

  .event-info-date span
    font-size 18px

/* SINGLE COL */
@media (max-width: 768px)
  .event-elem
    width 75%

  .event-title span
    font-size 18px

  .event-info-date span
    font-size 16px

@media (max-width: 640px)

  .event-elem
    width 80%

@media (max-width: 480px)
  .event-elem
    width 90%

  .ver-mas
    width 100px
    padding 6px 0

@media (max-width: 320px)
  .event-elem
    width 100%

  .ver-mas
    padding 3vw .5vw 3vw .5vw
