@-moz-document url-prefix(){
  .popup-profiles{
    left: 0;
  }
  .ver-mas-button{
    z-index: 1;
  }
  .prev,.next{
    margin-top: -5vw;
  }
  .prev-b,.next-b{
    margin-top: -5vw;
  }

  .popup-events-img{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .popup-events-img img{
      width: auto;
      height: auto;
  }

  @media (max-width: 768px){
    .next,.next-b{
      margin-right 0
      margin-left -8vw
    }
    .prev,.prev-b{
      margin-left 1.5vw
      margin-right 0vw
    }
    .next,.prev,.next-b,.prev-b{
      margin-top -5vw
    }
  }

  @media (max-width: 640px){
    .prev, .prev-b{
      margin-left 0
      margin-right 0
    }
    .next, .next-b{
      margin-right 0
      margin-left -9.5vw
    }

  }

  @media (max-width: 480px){
    .next-b,.prev-b,.next,.prev{
      font-size 42px
    }
    .prev, .prev-b{
      margin-left 0
      margin-right 0
    }
    .next, .next-b{
      margin-right 0
      margin-left -8vw
    }
  }

  @media (max-width: 320px){
    .next-b,.prev-b,.next,.prev{
      font-size 32px
    }

    .prev,.prev-b{
      margin-left 1vw
    }
    .next,.next-b{
      margin-right 0
      margin-left -8vw
    }

    .circle{
      font-size 16px
    }

  }

}
