header
  width 100%
  height auto
  padding 2vw 0 2vw 0
  display flex
  flex-wrap nowrap
  flex-direction row
  justify-content center
  align-items center
  background-color white
  z-index 4
  position relative

section.logo
  width 20%
  height 7vw
  display inline-block

.logo-header
  width 100%

section.menu-bar
  width 50%
  height auto
  display inline-block

ul.list-content
  list-style-type none
  display flex
  flex-wrap nowrap
  flex-direction row
  justify-content space-around
  align-items space-around

li.list-item
  display inline
  padding-bottom 1vw
  margin 0
  border-bottom 4px solid transparent
  color rgb(47,193,193)
  -moz-border-image: -moz-linear-gradient(top left, #AED48A 0%, #30BFBF 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #AED48A 0%, #30BFBF 100%);
  border-image: linear-gradient(to bottom right, #AED48A 0%, #30BFBF 100%);
  border-image-slice: 1;
  border-top:0;
  border-left:0;
  border-right:0;

li.list-item.selected
  color black

ul.mobile-nav li.selected
  color black

/* mobile menu */

span.nav-icon
  position fixed
  top 0
  right 3%
  font-size 42px
  color rgb(47,193,193)
  z-index 9
  line-height 12vw

ul.mobile-nav
  height 0
  width 100%
  overflow hidden
  transition height .5s ease-in-out
  padding 0
  position fixed
  left 0
  top -1%
  z-index 8

ul.is-show
  height 100vw
  z-index 8

ul.mobile-nav li
  display block
  text-align center
  padding 2vw 0 2vw 0
  font-size 20px
  z-index 8
  color rgb(47,193,193)
  background-color #fff

.nav-icon,.mobile-nav
  display none
  cursor pointer

.list-item:hover
  color black

@media (min-width 1680px)
  li.list-item
    font-size 24px

@media (max-width 1024px)

  section.menu-bar
    width 70%

@media (max-width 769px)

  section.menu-bar
    width 75%


@media (max-width 768px)

  header
    position fixed
    padding 3vw 0

  .nav-icon,.mobile-nav
    display block

  section.menu-bar
    display none

  section.logo
    width 25%

@media (max-width 480px)

  span.nav-icon
    font-size 42px
    line-height 11vw

  ul.mobile-nav
    top -1.5%

  section.logo
    width 25%

@media (max-width 320px)
  span.nav-icon
    font-size 28px
    line-height 14vw

  header
    padding 4vw 0 4vw 0

  section.logo
    width 28%
