          /*** ESTILOS GENERALES ***/
@import './normalize.css' /* standarizar parametros */
@import './header' /* Encabezado de la página */
@import './bar-color' /* Barra de color con degradado */
@import './footer' /* Footer */

          /*** HOME ***/
@import './banner' /* Banners */
@import './circle' /* Circulos hechos en CSS/Styl */

          /*** Quienes Somos ***/
@import './quien' /* Estilos de quien.html */

          /*** Capacitacion ***/
@import './capacitacion' /* Estilos de Capacitacion.html */

          /*** Servicios ***/
@import './services' /* Estilos de Servicios.html */

          /*** Eventos ***/
@import './event' /* Estilos de Eventos.html */

          /*** Galeria ***/
@import './gallery' /* Estilos de galeria.html */

/*** Contacto ***/
@import './contacto' /* Estilos de contacto.html */

/*** Librerias ***/
@import './hover-min.css'

@font-face
  font-family "FuturaBT"
  src url('../fonts/Futura_Book_BT.otf')

body
  background-color #fff
  margin 0 auto
  overflow-x hidden
  font-family FuturaBT

a:link
    text-decoration: none
a:visited
    text-decoration: none
    color: rgb(47,193,193)
