          /*** ESTILOS GENERALES ***/
@import './normalize.css' /* standarizar parametros */
@import './header' /* Encabezado de la página */
@import './bar-color' /* Barra de color con degradado */
@import './footer' /* Footer */

          /*** HOME ***/
@import './banner' /* Banners */
@import './circle' /* Circulos hechos en CSS/Styl */
@import './slider' /* Banners */

          /*** Quienes Somos ***/
@import './quien' /* Estilos de quien.html */
@import './popup-profile' /* Estilos en popup de los perfiles */
@import './popup-services' /* Estilos en popup de los servicios */

          /*** Capacitacion ***/
@import './capacitacion' /* Estilos de Capacitacion.html */

          /*** Servicios ***/
@import './services' /* Estilos de Servicios.html */

          /*** Eventos ***/
@import './event' /* Estilos de Eventos.html */
@import './popup-events' /* Estilos de Eventos PopUP.html */

          /*** Galeria ***/
@import './gallery' /* Estilos de galeria.html */

/*** Contacto ***/
@import './contacto' /* Estilos de contacto.html */


/*** Librerias ***/
@import './hover-min.css'
@import './animate.min.css'

/*** Crossbrowser fixes ***/
@import './firefox-fix.styl'


@font-face
  font-family "FuturaBT"
  src url('../fonts/Futura_Book_BT.otf')

html
  overflow-x hidden

body
  background-color #fff
  margin 0 auto
  overflow-x hidden
  font-family FuturaBT

a:link
    text-decoration: none
a:visited
    text-decoration: none
    color: rgb(47,193,193)

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.footer-menu-item
  transition .3s

span.footer-menu-item:hover
  color #b8d788
