.popup-events
    display none
    flex-direction column
    justify-content flex-start
    align-items flex-start
    position absolute
    background rgba(230,230,230,1)
    width 70%
    height auto
    margin 0 auto
    padding 2vw 0 2vw 0
    z-index 8

.popup-events-wrapper
    width 80%
    margin 0 auto
