.popup-profiles
    display none
    flex-direction row
    justify-content center
    align-items flex-start
    background white
    width 100%
    height auto
    z-index 2
    position relative

.popup-profiles-wrapper
  display flex
  flex-direction row
  justify-content center
  position relative
  background #e6e6e6
  width 80%


.profile-info
    width 45%
    margin-left 2vw

@media (max-width 1366px)

  .pop-up-title
      padding 1.5vw 0

  .profile
      margin-top 4vw

  .popup-profiles
      padding-bottom 0

  .profile-info
      width 60%

@media (max-width 768px)
  .popup-profiles
      flex-direction column
      align-items center
      justify-content flex-start

  .popup-profiles-wrapper
    flex-direction column
    align-items center
    justify-content flex-start

  .profile-info
      width 80%

@media (max-width 480px)

  .profile-info
      width 90%
      margin 0 auto

  .pop-up-title
      padding 0
