.popup-services
    display none
    flex-direction column
    justify-content flex-start
    align-items flex-start
    background rgba(230,230,230,1)
    position absolute
    width 60%
    height auto
    margin 0 auto
    padding 1vw 0 2vw 0
    z-index 8

.popup-services-wrapper
    width 80%
    margin 0 auto

h3
  font-size 2em

p.popup-services-content
    font-size 22px

@media (max-width: 1920px)
  .popup-services-wrapper
    padding 8vw 0

@media (max-width: 1680px)
  .popup-services-wrapper
    padding 7vw 0

@media (max-width: 1440px)
  .popup-services-wrapper
    padding 1vw 0

@media (max-width: 1366px)
  .popup-services-wrapper
    padding 2vw 0

  p.popup-services-content
    font-size 21px

@media (max-width: 1280px)
  .popup-services-wrapper
    padding 7vw 0

  p.popup-services-content
    font-size 16px

@media (max-width: 1024px)
  .popup-services
    width 75%

  .popup-services-wrapper
    padding 6.8vw 0


@media (max-width: 768px)
  .popup-services
    width 80%
    padding 0 0 0 0
    position absolute
    top 20%

  .popup-services-wrapper
    padding 1.5vw 0

  p.popup-services-content
    font-size 14px

@media (max-width: 640px)

  h3
    font-size 1.8em

@media (max-width: 480px)

  h3
    font-size 1.2em
