.popup-services
    display none
    flex-direction column
    justify-content flex-start
    align-items flex-start
    background rgba(230,230,230,1)
    position absolute
    width 60%
    height auto
    margin 0 auto
    padding 2vw 0 2vw 0
    z-index 8

.popup-services-wrapper
    width 80%
    margin 0 auto

h3
  font-size 2em

p.popup-services-content
    font-size 22px

@media (max-width: 1920px)
  .popup-services-wrapper
    padding 8vw 0

@media (max-width: 1680px)
  .popup-services-wrapper
    padding 7vw 0

@media (max-width: 1440px)
  .popup-services-wrapper
    padding 1vw 0

@media (max-width: 1366px)
  .popup-services-wrapper
    padding 2vw 0

  p.popup-services-content
    font-size 21px

@media (max-width: 1280px)
  .popup-services-wrapper
    padding 7vw 0

  p.popup-services-content
    font-size 16px

@media (max-width: 1024px)
  .popup-services
    width 75%

  .popup-services-wrapper
    padding 6.8vw 0

@media (max-width: 940px)

  .popup-services-wrapper
    padding 3.5vw 0

@media (max-width: 768px)
  .popup-services
    width 80%
    padding 0 0 0 0

  p.popup-services-content
    font-size 14px

  .popup-services-wrapper
    padding 40vw 0

@media (max-width: 715px)

  .popup-services-wrapper
    padding 32vw 0
    height 84vw

@media (max-width: 640px)

  .popup-services-wrapper
    padding 23vw 0
    height 109vw

@media (max-width: 544px)

  .popup-services-wrapper
    padding 23vw 0
    height 115vw

@media (max-width: 480px)

  .popup-services-wrapper
    padding 22vw 0
    height 117vw

  h3
    font-size 1.2em

  .ver-mas
    margin 12vw 3vw 5vw 0 !important

@media (max-width: 320px)

  .popup-services-wrapper
    padding 13vw 0
    height 352vw
