.popup-services
    display none
    flex-direction column
    flex-direction column
    justify-content center
    background rgba(230,230,230,1)
    position absolute
    width 60%
    height auto
    margin 0 auto
    padding 1vw 0 2vw 0
    z-index 2

.popup-services-wrapper
    width 80%
    margin 0 auto
    display flex
    flex-direction column
    justify-content center
    align-items flex-start

h3
  font-size 2em

p.popup-services-content
    font-size 20px

@media (max-width: 1366px)

  p.popup-services-content
    font-size 18px

@media (max-width: 1280px)

  p.popup-services-content
    font-size 16px

@media (max-width: 1024px)
  .popup-services
    width 75%


@media (max-width: 768px)
  .popup-services
    width 80%
    padding 0 0 0 0
    position absolute

  p.popup-services-content
    font-size 14px

@media (max-width: 640px)

  h3
    font-size 1.8em

  .services-elem span b
    font-size 14px


@media (max-width: 480px)

  h3
    font-size 1.2em
