.popup-events
    display none
    flex-direction column
    justify-content flex-start
    align-items flex-start
    position relative
    background rgba(230,230,230,1)
    width 100%
    margin 0 auto
    padding 0
    z-index 2

.popup-events-wrapper
    width 80%
    margin 0 auto

.popup-events-img
    width 100%
    height 100%
    text-align center

.popup-events-img img
    width auto
    height auto

.ver-mas.quien-button.event-button
  margin 1vw

@media (max-width 1440px)

  .popup-events-wrapper
    padding 1vw 0

@media (max-width 768px)
  .popup-events
    height auto
    width 100%
    justify-content center

  .popup-events-img
    width 100%
    height 100%
    text-align center

  .popup-events-img img
    width 100%

  .event-info-wrapper
    display: flex
    flex-direction row
    align-items center
    justify-content space-between

@media (max-width 640px)

  .popup-events-wrapper
    width 80%
    margin 0 auto
    padding 0
