.quien
  width 100%
  height auto
  display flex
  flex-direction column
  justify-content center
  align-items center

.quien-top,.quien-sub
  width 60%
  height auto

.quien-top
  padding 3vw 0 2vw 0

.quien-top.pop-up-title
  width 100%

.pop-up-title
  padding 4vw 0 2vw 0

.ver-mas.quien-button
  float right

span.top-title
  font-size 32px

h2
    position:relative
    overflow:hidden

h2:after
    content:""
    top:48%
    width:100%
    margin-left:10px
    height:5px
    position:absolute
    background-image: -o-linear-gradient(right, #AED48A 0%, #30BFBF 100%)
    background-image: -moz-linear-gradient(right, #AED48A 0%, #30BFBF 100%)
    background-image: -webkit-linear-gradient(right, #AED48A 0%, #30BFBF 100%)
    background-image: -ms-linear-gradient(right, #AED48A 0%, #30BFBF 100%)
    background-image: linear-gradient(to right, #AED48A 0%, #30BFBF 100%)


/* profile */

.profile
  width 100%
  margin-left .5%
  height auto
  display flex
  flex-wrap nowrap
  flex-direction column
  justify-content center
  align-items center

.profile-img
  width 100%
  height auto

.profile-img img
  width 100%
  height auto

// .profile-img:hover
//   opacity .8

.popup-profile
  width 85%
  height auto

.profile-img.popup-profile
  opacity 1
  cursor default

.popup-profile img
  width 85%
  height auto


.name
  width 100%
  height auto
  padding 2vw 0 2vw 0
  text-align center
  background-color rgb(230,230,230)

.name-pop-up
  width 85%
  cursor default

.profiles-content
  width 60%
  height auto
  text-align left
  font-size 16px
  list-style-type none
  padding 0

.profile
  display inline-block
  width 33%
  margin-top 5vw
  text-align center
  cursor pointer

.profiles-content .services-elem
  display flex
  flex-direction column
  justify-content center
  align-items center

.profiles-content:after
  content: ''
  display: inline-block
  width: 100%

.name-info
  position absolute
  line-height 22vw
  width 13.8%
  background-color black
  opacity 0
  color #fff
  z-index 2
  font-size 24px

.name-info:hover
  opacity 0.5
  z-index 1

  /* -- POP UP -- */

.pop-up-serv
  position absolute
  width 60%
  height 10vw
  background-color black
  opacity .8
  bottom 0
  z-index 9

  /* logo footer  */
.logo-bottom
  width 100%
  height auto
  text-align center
  padding 3vw 0 1vw 0

.logo-bottom img
  width 20%

  /* -- MEDIA QUERIES  -- */

/* 3 COL */

@media (min-width 1920px)
  .profile
    width 23%
    margin-bottom 2%

@media (max-width 1920px)
  .profile
    width 23%
    margin-bottom 2%

@media (max-width 1680px)
  h2
    font-size 32px

  span.top-subtitle
    font-size 26px

  .name-info
    font-size 36px

@media (max-width 1024px)
  .profiles-content
    width 75%

  .quien-sub, .quien-top
    width 75%

  .name-info
    line-height: 27.5vw;
    width: 17.3%;


/* 2 COL */
@media (max-width: 768px)
 .profile
   width: 45%;
   margin-top 2vw
   margin-right 2vw

  .name-info
    width 34%
    line-height 54vw
    font-size 20px

  .quien-top,.quien-sub
    width 80%

  .quien-top.pop-up-title
    width 100%

  .pop-up-title
    padding-top 0

  .quien-top.pop-up-title h2
      font-size 18px

  span.top-subtitle
      font-size 16px

  h2
    font-size 26px

@media(max-width: 480px)
  .profile.profile-popup
      width 35%
      margin 0 auto
      margin-top 3vw

  .name-pop-up
      width 100%

  .popup-profile, .popup-profile img
      width 100%

  .quien-top.pop-up-title h2
      font-size 16px

  h2
    font-size 20px
